.image-container {
  max-width: 100%;
  overflow: hidden;
  /* hide any overflowing content */
}

.img-view {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70%;
  max-width: 80%; 
}

.img-view-mobile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.video-view {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}