.img-view {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.img-view-mobile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.video-view {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}