.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.file-tree {
  background: rgb(5, 68, 104);
  position: fixed;
  left: 0;
  float: left;
  width: 30%;
  height: 100%;
  padding: 20px;
  transition: all 0.5s ease;
}

.playerground {
  right: 0;
  float: right;
  width: 70%;
  height: 100%;
}

.MuiTreeItem-label {
  text-align: left;
}